.del-edit-buttons {
    text-shadow: 1px 2px 2px rgba(0,0,0,.3);
    margin-top: -0.85px;
    margin-left: 0px;
    .id {
       position: absolute;
       left:13px;
       top: 8px;
       color: #00008b;
    }
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: rgba(0,0,0,.3);
    button.edit, button.del {
       width: 100;
       height: 40px;
       background:#70e1e1;
       display:flex;
       flex-direction:column;
       justify-content: center;
       align-items: center;
    }
    .del {
      color:red;
      font-weight:bold;
      font-size: 14px;
    }
    .edit {
      color: black;
    }
}
.card-body {
   text-align: left;
}
.modal-content {
  margin-top:100px;
  .modal-header {
    background:rgba(173,216,230 ,1 );    
    .h4 {
      text-align:center;
      text-shadow: 1px 2px 2px rgba(0,0,0,.3);
    }
  }
  .close {
    width: 50px;
    height: 60px;    
    color: #8B0000;
  }
  form {
    margin:0px auto;
    width:100%;
    padding:30px 90px;
  }
  .form-label {
    float:left;
    color:rgb(0,0,0);
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0,0,0,.3);
  }
  button {
     margin-top: 30px;
  }
}

