

.sign-up-sign-in-form {
   margin-top: 60px;
}

.nav-links {
  width: 350px;
  margin-left: -30px;
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
}
.nav-links button {
    background-color: rgba(0, 0, 0, 0.75)
}
.nav-links button:hover {
  background-color: darkblue;
}

.nav-links button:visited {
  background-color: firebrick;
}

form {
  width: 350px;
  margin: 0px auto;
  padding: 0px 30px 30px 30px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center; 
  p{
    margin-bottom: 7px;
  }
}

.custom-btn {
  width:340px;
}



.error {
  margin-bottom: 20px;
  position: absolute;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-radius: 4px;
  padding: 5px 10px;
}

.password {
  margin-top:-32px
}

form>input {
  margin-top:28px;
  margin-bottom: 36px;
  padding: 0.5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.sign-in-sign-up-button {
  margin: 12px auto;
}
p {
  margin-bottom: 0px;
}
button {
  max-width: 150px;
  margin: 10px 0;
  padding: 18px 36px;
  border-style: none;
  border-radius: 5px;
  background-color: #073D35;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}
.sign-button {
  width: 300px;
}
.success-msg {
   color: rgb(7, 122, 7);
   text-shadow: 1px 1px 1px rgba(0,0,0,.7);
}

