.header {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   min-height: 80px;   
   // background-color: #4B154B;
//    font-family: 'Cedarville Cursive', cursive;
   color: #FFFFFF;
    div {
       text-align: right;
      p {
       text-align: right;
       font-size: 23px;
       margin-top: 5px;
       padding-left: 10px;
       margin-bottom: 0px;
       font-family: 'Cedarville Cursive', cursive;
       color: #FFFFFF;
       border-left: 2px solid #708090;
       text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
      }
    }
     a:hover {
         text-decoration: none;
     }
    .logout-button {
        background: rgba(105,197,189,0.7);
        text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
    }
}
.bg-primary {
    background: rgba(0,0,0,0.5);
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
}