 .journal-entries {
    margin-top: 16px;
    h1 {
      padding: 8px 8px 10px 8px;
      width: 300px;
      font-size: 20px;
      margin: 0 auto;
      background-color: #fff;        
      text-align: center;
      border-radius: 45px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
    }
  .journal-container {   
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    margin-top:50px;  
      .journal-links {
        width: 20%;  
        height:300px; 
        background: #48e0eb4b;  
        padding: 40px 0px 30px 10px;        
        text-shadow: .1em .1em .2em rgba(0, 0, 0, 0.6);
          h3 {
            text-align: center;
          }
          ul {
            list-style: none;             
            text-align: left;
            padding-left: 20px;
            
                li {
                  padding: 7px;                  
                  width: 98%;
                  margin:0px;
                  display: inline-block;
                  margin-bottom: 12px;
                  border-radius: 28px;
                  background: rgba(0,0,0,.8);
                 
                  a {
                    padding: 10px 7px;
                    color: #FFFFFF;
                    font-size: 14px;
                  }
                  a:hover {
                    text-decoration: none;
                    color: maroon;
                  }
                }
          }
      }
  }
   .journals {  
     width:70%;   
     padding:0px 70px; 
     padding-left: 0px;
     margin-left: -50px;
      

   }
}

/**********************
 Card Group
***********************/
.card-group {
  margin-bottom: 30px;
}

div.card a {
  text-decoration: none;
  text-shadow: 1px 2px 2px rgba(0,0,0,.3);
  .title {
     color: rgba(0,0,0,.9);
  }
}